<h1> Activation de votre compte </h1>
<p> Veuillez cliquer sur ce lien pour activer votre compte sur notre site SnowTicks.</p>
<a href="http://localhost:8000{{(path('activation', {'token': token}))}}">Activation de votre compte</a>