{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}
 <section id="space">
  </section>
    <section id="services" class="services">
      <div class="container">
           <div class="section-title" data-aos="fade-in" data-aos-delay="100">
          <h2>Mot de passe oublié</h2>
        </div>
    </section>
    {{ form(emailForm)}}
{% endblock %}
