{% extends 'base.html.twig' %}
{% block title %} Nouveau mot de passe {% endblock %}

{% block body %}

    <div class="space"></div>  
    <div class="section-title" data-aos="fade-in" data-aos-delay="100">
        <h2>Entrez votre nouveau mot de passe</h2>
    </div>

    <div id="services" class="services">
        <div class="loginForm card bg-light border-dark mb-3">
            <div class="card-body">
                <div class="container">
                    {{ form_start(formUser) }}
                    {{ form_row(formUser.password, { 'label':' Nouveau mot de passe : '}) }}
                    <button> Valider</button>
                    {{ form_end(formUser) }}
                </div>
            </div>
        </div>        
    </div>
    <div class="space"></div> 
    <div class="spaceFooter"></div> 
{% endblock %}