{% extends 'base.html.twig' %}

{% block title %}Nouveau mot de passe{% endblock %}

{% block body %}
 <section id="space">
  </section>
    <section id="services" class="services">
      <div class="container">
           <div class="section-title" data-aos="fade-in" data-aos-delay="100">
          <h2>Entrez votre nouveau mot de passe</h2>
          <form method="post">
          <label for="pass"> mot de passe : </label>
          <input type="password" name="password" id="pass">
          <input type="hidden" name="token" value="{{token}}">
          <button> Valider</button>
          </form>
        </div>
    </section>
{% endblock %}