{% extends 'base.html.twig' %}

{% block title %}Hello FigureController!{% endblock %}

{% block body %}
<h1>Page de modification de figure de snowboard</h1>

<p>Les besoins sont les mêmes que pour la création.
 La seule différence est qu’il faut que les champs soient pré remplis au moment où l’utilisateur arrive sur cette page.
</p>
{% endblock %}
